#calcBigDisplay {
    background-color: lightgray;
    height: 45px;
    flex: 1 1 100%;
    font-size: 40px;
    width: 100%;
    margin: 2px 50px;
}

#buttonHolder {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    width: 800px;
    padding: 0px;
}

.number {
    font-size: 3em;
    flex: 1 1 200px;
    aspect-ratio: 1 / 1;
}

.operatorB {
    font-size: 3em;
    flex: 1 1 200px;
    aspect-ratio: 1 / 1;
}

.operator {
    font-size: 3em;
    flex: 1 1 100px;
}



#calc {
    display: flex;
    justify-self: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: gray;
}

#calcDisplay {
    height: 16px;
    width: 100%;
    margin: 2px 50px;
}


#title {
    margin-bottom: 0px;
}